<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<head>
<meta charset="UTF-8">
<title th:text="#{content.title}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div th:insert="item/itemTop :: header"></div>

	<div class = "container text-center ">
	<div style="position: relative;left:15%; height:450px; width:800px;" class="mt-4">
		<canvas id="myChart"  ></canvas>
	</div>
	<script th:inline="javascript">
	  var ctx = document.getElementById('myChart').getContext('2d');
	  var myChart = new Chart(ctx, {
	    type: 'pie',
	    data: {
	      labels: /*[[${label}]]*/,
	      datasets: [{
	        backgroundColor: [
		          'rgba(255, 99, 132, 0.5)',
		          'rgba(54, 162, 235, 0.5)',
		          'rgba(255, 206, 86, 0.5)',
		          'rgba(75, 102, 192, 0.5)',
		          'rgba(153, 102, 255, 0.5)',
		          'rgba(75, 102, 255, 0.5)',
		          'rgba(255, 100, 255, 0.5)',
		          'rgba(153, 50, 50, 0.5)',
		          'rgba(75, 255, 255, 0.5)',
		          'rgba(153, 255, 255, 0.5)',
		          'rgba(75, 0, 50, 0.5)',
		          'rgba(255, 255, 100, 0.5)',
		          'rgba(153, 180, 180, 0.5)',
		          'rgba(255, 159, 64, 0.5)'
	        ],
	        data: /*[[${date}]]*/,
	      }]
	    },
	    options: {
	        title : {
	            fontSize: 16,
	            display : true,
	            text : /*[[${dayText}]]*/
	        }
	    }
	  });
	</script>

	<div class="syosai">
		<form th:action="@{/item/dayIndex/Details}" action="/item/dayIndex/Details" method="get">
			<input type="hidden" name="year" th:value="${year}" />
			<input type="hidden" name="month" th:value="${month}" />
			<input type="hidden" name="day" th:value="${day}" />
			<input type="submit" value="支出の詳細を確認する" class="btn btn-info"/>
		</form>
	</div>
	</div>

</body>

</html>