<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>支出管理アプリケーション</title>
</head>
<body>
<p>hello</p>
<!--
<div >
	<table border="1">
		<tr>
			<th>1月</th>
			<th>2月</th>
			<th>3月</th>
			<th>4月</th>
			<th>5月</th>
			<th>6月</th>
			<th>7月</th>
			<th>8月</th>
			<th>9月</th>
			<th>10月</th>
			<th>11月</th>
			<th>12月</th>
		</tr>
		<tr>
			<td><a th:href="@{${url}(year=${year},month=1)}"><span th:text="|${totalList[0]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=2)}"><span th:text="|${totalList[1]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=3)}"><span th:text="|${totalList[2]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=4)}"><span th:text="|${totalList[3]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=5)}"><span th:text="|${totalList[4]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=6)}"><span th:text="|${totalList[5]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=7)}"><span th:text="|${totalList[6]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=8)}"><span th:text="|${totalList[7]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=9)}"><span th:text="|${totalList[8]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=10)}"><span th:text="|${totalList[9]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=11)}"><span th:text="|${totalList[10]}円|"></span></a></td>
			<td><a th:href="@{${url}(year=${year},month=12)}"><span th:text="|${totalList[11]}円|"></span></a></td>
		</tr>
	</table>
</div>
 -->
</body>
</html>