<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

	<div class="header" th:insert="item/itemTop :: header"></div>
 	<h1><a th:href="@{/item/top}">TOP画面へ戻る</a></h1>
	<h1>新規Item登録</h1>
	<ul>
		<li th:if="${msg!=null}" th:text="${msg}" />
	</ul>

	<div class="content">

		<form th:action="@{/item/create}" action="/item/create" method="post" th:object="${formModel}">
			<!-- <ul>
				<li th:each="error : ${#fields.detailedErrors()}" class = "err" th:text="${error.message}" />
			</ul>
			 -->
		<table>
			<td><input type="date" name="insert_date" th:value="*{insert_date}" /></td>
			<tr>
				<th>商品名</th>
				<th>値段</th>
				<th>分類</th>
			</tr>
			<tr><!-- th:each="i : ${#numbers.sequence(0, 1)}" > -->
				<td><input type="text" name="itemName" /></td>
				<td><input type="text" size = "10" name="price" />円</td>

				 <td>
					 <select name="bunrui2" >
					 	<option th:value=1 th:text="住居費"></option>
					 	<option th:value=2 th:text="水道光熱費"></option>
					 	<option th:value=3 th:text="通信費"></option>
					 	<option th:value=4 th:text="保険料"></option>
					 	<option th:value=5 th:text="食費"></option>
					 	<option th:value=6 th:text="日用品費"></option>
					 	<option th:value=7 th:text="被服費"></option>
					 	<option th:value=8 th:text="美容費"></option>
					 	<option th:value=9 th:text="交際費"></option>
					 	<option th:value=10 th:text="趣味費"></option>
					 	<option th:value=11 th:text="交通費"></option>
					 	<option th:value=12 th:text="教育費"></option>
					 	<option th:value=13 th:text="医療費"></option>
					 	<option th:value=14 th:text="特別費"></option>
					 	<option th:value=15 th:text="雑費"></option>
					 </select>
				 </td>
				 <td><input type="hidden" name="bunrui1" th:value="*{bunrui1}"/></td>
				 <td><input type="hidden" name="account_id" th:value="*{account}"/></td>
			</tr>
		</table>
		</div>
				<input type="submit" value="登録" />
		</form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>