<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{content.title}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

	<div th:insert="item/itemTop :: header"></div>
	<div class = "container text-center ">
		<h1 class="font-italic text-left text-dark pb-2 mt-4 mb-2 border-bottom border-primary">商品情報修正</h1>
		<ul>
			<li th:if="${msg!=null}" th:text="${msg}" style=color:red  class="text-left text-danger"/>
		</ul>

			<form th:action="@{/item/update}" action="/item/update" method="post" th:object="${formModel}">
				<ul>
					<li th:each="error : ${#fields.detailedErrors()}" class = "err" th:text="${error.message}" />
				</ul>
				<table class="table table-hover table-bordered">
					<tr><td><label class="thead-light">商品名：</label></td>
						<td class="text-left"><input type="text" name="itemName" th:field="*{itemName}" placeholder="商品名"/></td></tr>

					<tr><td><label class="thead-light">値段：</label></td>
						<td class="text-left"><input type="text" name="price" th:field="*{price}"   placeholder="値段" />円</td></tr>

					<tr><td><label class="thead-light">分類：</label></td>
						<td class="text-left">

						 <select name="bunrui2" >
						 	<option th:value=1 th:text="住居費"></option>
						 	<option th:value=2 th:text="水道光熱費"></option>
						 	<option th:value=3 th:text="通信費"></option>
						 	<option th:value=4 th:text="保険料"></option>
						 	<option th:value=5 th:text="食費"></option>
						 	<option th:value=6 th:text="日用品費"></option>
						 	<option th:value=7 th:text="被服費"></option>
						 	<option th:value=8 th:text="美容費"></option>
						 	<option th:value=9 th:text="交際費"></option>
						 	<option th:value=10 th:text="趣味費"></option>
						 	<option th:value=11 th:text="交通費"></option>
						 	<option th:value=12 th:text="教育費"></option>
						 	<option th:value=13 th:text="医療費"></option>
						 	<option th:value=14 th:text="特別費"></option>
						 	<option th:value=15 th:text="雑費"></option>
						 </select>
					 	</td>
					 </tr>
					<input type="hidden" name="id" th:field="*{id}"/>
					 <input type="hidden" name="bunrui1" th:field="*{bunrui1}"/>
					 <input type="hidden" name="bunrui2" th:field="*{bunrui2}"/>
					 <input type="hidden" name="account_id" th:field="*{account.id}"/>
					<input type="hidden" th:field="*{insert_date}" />
				</table>
				<input type="submit" value="更新" class="btn btn-primary"/>
			</form>

		</div>

</body>
</html>