<!DOCTYPE html>
<!-- thymeleafを使うため以下を記述する。以後はth:xxxとすればthymeleafのメソッドが使用可能。 -->

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title th:text="#{content.title}"></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<div class="container text-center">
		<h1 class="font-italic text-left text-dark pb-2 mt-4 mb-2 border-bottom border-primary">新規アカウント登録</h1>
		<ul>
			<li th:if="${msg!=null}" th:text="${msg}"  class="text-left text-danger"/>
		</ul>

		<div class="content">

			<form th:action="@{/user/create}" action="/user/create" method="post" th:object="${formModel}">
				<ul>
					<li th:each="error : ${#fields.detailedErrors()}" class = "err text-left text-danger" th:text="${error.message}" />
				</ul>
				<table class="table table-hover table-bordered">
					<tr><td><label >ユーザーID</label></td>
						<td class="text-left"><input type="text" name="username"  th:value="*{username}" autofocus="autofocus" placeholder="ユーザーID"/></td></tr>

					<tr><td><label>パスワード</label></td>
						<td class="text-left"><input type="password" name="password" th:value="*{password}" placeholder="password"/></td></tr>

					<!-- <tr><td><label for="role">権限</label></td>
					  	<td><select id="admin" name="admin">
					  	新規のユーザー権限は"一般"のみとするため、管理者の選択を削除。--2021/04/02 Add
					  		<option th:value=true th:text="管理者"></option>

					  		<option th:value=false th:text="一般"></option>
				  		</select></td></tr>-->
				  		<input type="hidden" name="admin" th:value=false />

						<input type="hidden" name="enabled" th:value="*{enabled}" />


				</table>
				<input type="submit" value="登録" class="btn btn-success"/>
			</form>

 			<a th:href="@{/login}"><button class="btn btn-info mt-3">Login画面へ戻る</button></a>

		</div>
	</div>
</body>
</html>